.title {
  position: sticky;
  z-index: 0;
  background: #fafeff;
  margin-bottom: 0;
  padding: 0.5em 0;
  top: 0;
  transition: all 0.24s cubic-bezier(0.19, 1, 0.22, 1);
  line-height: 30px;
}

.lyrics {
  white-space: pre-wrap;
  line-height: 2rem;
}
