.container {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  height: 30px;
  margin-top: calc(0.5rem + 50px);
  border-top: 0.5px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg);
  position: fixed;
  bottom: 0;
  user-select: none;
  z-index: 2;
}

.footer a {
  text-decoration: underline;
  color: navy;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.title a {
  text-decoration: none;
}

.searchContainer {
  bottom: 2.5rem;
  position: sticky;
  width: 100%;
  max-width: 480px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.searchContainer .arrowBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid gainsboro;
  border-radius: 6px;
  color: #f6f5f5;
  padding: 0.5rem;
  background: rgb(0, 71, 171);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  /* box-shadow: 0 1px 1px rgba(10,35,81,0.11), 
              0 2px 2px rgba(10,35,81,0.11), 
              0 4px 4px rgba(10,35,81,0.11), 
              0 6px 8px rgba(10,35,81,0.11),
              0 8px 16px rgba(10,35,81,0.11); */

  /* background: radial-gradient(circle, rgba(10,35,81,1) 0%, rgba(0,48,143,1) 100%); */
}

.searchContainer .arrowBox:hover {
  background: rgba(0, 71, 171, 0.9);
}

.searchContainer .arrowBox:first-child {
  margin-right: 0.5rem;
}

.searchContainer .arrowBox:last-child {
  margin-left: 0.5rem;
}

.arrowBox svg {
  stroke-width: 2px;
  /* stroke: red; */
}

.select {
  width: 100%;
  font-size: 1.5rem;
  flex: 1;
}

.pageContent {
  flex: 1;
  width: 100%;
  max-width: 480px;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.contentPlaceholder {
  color: #d0d0d0;
  user-select: none;
}

.infoButton {
  position: fixed;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  height: 24px;
  width: 24px;
  color: slategray;
  -webkit-tap-highlight-color: transparent;
}

.showInfoModal {
  position: fixed;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  pointer-events: none;
  border-radius: 4px;
  background: #fbfbfb;
  transition: opacity 0.96s, top 1.6s cubic-bezier(0.22, 1, 0.19, 1);
  opacity: 0;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.showInfoModal.shown {
  pointer-events: all;
  opacity: 1;
  top: 50%;
  transition: opacity 0.24s, top 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 2;
}

.logoContainer {
  width: 128px;
  height: 128px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 50%;
}

.logoImage {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.showInfoModal h2 {
  margin-bottom: 0;
}

.descriptionParagraph {
  text-align: justify;
  overflow: auto;
  /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
  border-radius: 4px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px #ffffff inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  background-color: white;
}

.donationButton {
  margin-bottom: 1rem !important;
}

.contentAction {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 480px) {
  .select {
    width: 80%;
  }
  .title {
    font-size: 2rem;
  }
  .descriptionParagraph {
    max-height: 300px;
  }
  .infoButton {
    position: absolute;
    right: 1rem;
    top: unset;
  }
}
