.container {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  height: 30px;
  margin-top: calc(0.5rem + 50px);
  border-top: 0.5px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg);
  position: fixed;
  bottom: 0;
  user-select: none;
  z-index: 2;
}

.footer a {
  text-decoration: underline;
  color: navy;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.title a {
  text-decoration: none;
}

.searchContainer {
  bottom: 2.5rem;
  position: sticky;
  width: 100%;
  max-width: 480px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.searchContainer .arrowBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid gainsboro;
  border-radius: 6px;
  color: #f6f5f5;
  padding: 0.5rem;
  background: rgb(0, 71, 171);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  /* box-shadow: 0 1px 1px rgba(10,35,81,0.11), 
              0 2px 2px rgba(10,35,81,0.11), 
              0 4px 4px rgba(10,35,81,0.11), 
              0 6px 8px rgba(10,35,81,0.11),
              0 8px 16px rgba(10,35,81,0.11); */

  /* background: radial-gradient(circle, rgba(10,35,81,1) 0%, rgba(0,48,143,1) 100%); */
}

.searchContainer .arrowBox:hover {
  background: rgba(0, 71, 171, 0.9);
}

.searchContainer .arrowBox:first-child {
  margin-right: 0.5rem;
}

.searchContainer .arrowBox:last-child {
  margin-left: 0.5rem;
}

.arrowBox svg {
  stroke-width: 2px;
  /* stroke: red; */
}

.select {
  width: 100%;
  font-size: 1.5rem;
  flex: 1;
}

.pageContent {
  flex: 1;
  width: 100%;
  max-width: 480px;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.contentPlaceholder {
  color: #757575;
  user-select: none;
}

.infoButton {
  position: fixed;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  height: 24px;
  width: 24px;
  color: slategray;
  -webkit-tap-highlight-color: transparent;
}

.contentAction {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 480px) {
  .select {
    width: 80%;
  }
  .title {
    font-size: 2rem;
  }
  .infoButton {
    position: absolute;
    right: 1rem;
    top: unset;
  }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
  .title {
    font-size: 1.5rem;
  }
}