.title {
  position: sticky;
  z-index: 1;
  background: #fafeff;
  margin-bottom: 0;
  padding: 0.5em 0;
  top: -1px;
  transition: all 0.24s cubic-bezier(0.19, 1, 0.22, 1);
  line-height: 30px;
}

.lyrics {
  white-space: pre-wrap;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
}

.songPart {
  color: gray;
  margin-bottom: 0.5rem;
}
